.table-name a {
    font-size: 18px;
}

.table-name>.row {
    padding: 1px;
    padding-top: 3px;
}

.table-name i {
    font-size: 25px;
    color: #E74C3C;
}

.table-price {
    font-size: 18px;
}

.table-price s{
    font-size: 15px;
}

.table-options i {
    font-size: 23px;
    padding-right: 10px;
}

.modal-img{
    width: 400px;
}

.table-button a{
    font-size: 12px;
    text-decoration: none;
}

.table-button a:hover{
    color: white;
}

.table-date{
    font-size: 17px;
}

.input-icon i{
    font-size: 35px;
}

.table-input{
    padding-right: 40px;
    margin-right: 50px;
}

.table-existing-product{
    font-size: 18px;
    text-align: center;
    
}

.existing-product div{
    display: inline-block;
}

.table-new-product input{
    font-size: 18px;
}

.table-bought-product input{
    font-size: 18px;
}
.table-sell-product input{
    font-size: 18px;
}

.table-bought-product{
    font-size: 18px;
    text-align: center;
}

.table-sell-product{
    font-size: 20px;
    text-align: center;
}

/**
    Plus icon
*/
.plus-icon:hover{
    color: white;
}

.plus-icon-primary{
    color: #4680ff;
}

.plus-icon-danger{
    color: #FC6180;
}

.plus-icon-success{
    color: #93BE52;
}

.plus-icon-warning{
    color: #FFB64D;
}


.btn-danger-a{
    color: white !important;
}

.btn-success-a{
    color: white !important;
}

.btn-inverse-a{
    color: white !important;
}

.btn-primary-a{
    color: white !important;
}

.section-header{
display: flex;
flex-flow: row wrap;
justify-content: start;
}

.section-header-title{
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.section-header-buttons{
    display: flex;
    align-items: center;

}
.section-header-buttons a{
    margin: 5px;
    margin-bottom: 10px;

}

.section-header-search{
    display: flex;
    align-items: center;
    margin-left: 430px;
    padding-top: 1em;
}


@media (max-width: 1300px){
    .section-header-search{
        margin: 0px;
    }
}